NPEG.ServiceProxy/Service References/ParsingService/NPEG.NonTerminals.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPEG.NonTerminals" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPEG.NonTerminals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/NPEG" />
	<xs:complexType name="CapturingGroup">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NPEG" base="q1:AComposite">
				<xs:sequence>
					<xs:element minOccurs="0" name="DoCreateCustomAstNode" type="xs:boolean" />
					<xs:element minOccurs="0" name="DoReplaceBySingleChildNode" type="xs:boolean" />
					<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CapturingGroup" nillable="true" type="tns:CapturingGroup" />
	<xs:complexType name="LimitingRepetition">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/NPEG" base="q2:AComposite">
				<xs:sequence>
					<xs:element minOccurs="0" name="Max" nillable="true" type="xs:int" />
					<xs:element minOccurs="0" name="Min" nillable="true" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LimitingRepetition" nillable="true" type="tns:LimitingRepetition" />
	<xs:complexType name="NotPredicate">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/NPEG" base="q3:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="NotPredicate" nillable="true" type="tns:NotPredicate" />
	<xs:complexType name="OneOrMore">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/NPEG" base="q4:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OneOrMore" nillable="true" type="tns:OneOrMore" />
	<xs:complexType name="Optional">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/NPEG" base="q5:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Optional" nillable="true" type="tns:Optional" />
	<xs:complexType name="PrioritizedChoice">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/NPEG" base="q6:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PrioritizedChoice" nillable="true" type="tns:PrioritizedChoice" />
	<xs:complexType name="RecursionCreate">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/NPEG" base="q7:AComposite">
				<xs:sequence>
					<xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RecursionCreate" nillable="true" type="tns:RecursionCreate" />
	<xs:complexType name="Sequence">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/NPEG" base="q8:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Sequence" nillable="true" type="tns:Sequence" />
	<xs:complexType name="ZeroOrMore">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/NPEG" base="q9:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ZeroOrMore" nillable="true" type="tns:ZeroOrMore" />
	<xs:complexType name="AndPredicate">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/NPEG" base="q10:AComposite">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AndPredicate" nillable="true" type="tns:AndPredicate" />
</xs:schema>