NPEG.ServiceProxy/Service References/ParsingService/NPEG.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPEG.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPEG.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NPEG" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NPEG.Terminals" />
  <xs:complexType name="NpegData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NPEG" minOccurs="0" name="Ast" nillable="true" type="q1:AstNode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NPEG" minOccurs="0" name="ParseTree" nillable="true" type="q2:AExpression" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NPEG.Terminals" minOccurs="0" name="Warnings" nillable="true" type="q3:ArrayOfWarn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NpegData" nillable="true" type="tns:NpegData" />
</xs:schema>