NPEG.ServiceProxy/Service References/ParsingService/NPEG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPEG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPEG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ALeaf">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AExpression">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ALeaf" nillable="true" type="tns:ALeaf" />
  <xs:complexType name="AExpression">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AExpression" nillable="true" type="tns:AExpression" />
  <xs:complexType name="AComposite">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfAExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AComposite" nillable="true" type="tns:AComposite" />
  <xs:complexType name="ArrayOfAExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AExpression" nillable="true" type="tns:AExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAExpression" nillable="true" type="tns:ArrayOfAExpression" />
  <xs:complexType name="AstNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfAstNode" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="tns:TokenMatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AstNode" nillable="true" type="tns:AstNode" />
  <xs:complexType name="ArrayOfAstNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AstNode" nillable="true" type="tns:AstNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAstNode" nillable="true" type="tns:ArrayOfAstNode" />
  <xs:complexType name="TokenMatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenMatch" nillable="true" type="tns:TokenMatch" />
</xs:schema>