NPEG.ServiceProxy/Service References/ParsingService/NPEG.Terminals.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPEG.Terminals" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPEG.Terminals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/NPEG" />
	<xs:complexType name="RecursionCall">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NPEG" base="q1:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RecursionCall" nillable="true" type="tns:RecursionCall" />
	<xs:complexType name="AnyCharacter">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/NPEG" base="q2:ALeaf">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnyCharacter" nillable="true" type="tns:AnyCharacter" />
	<xs:complexType name="DynamicBackReference">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/NPEG" base="q3:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="BackReferenceName" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="IsCaseSensitive" type="xs:boolean" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DynamicBackReference" nillable="true" type="tns:DynamicBackReference" />
	<xs:complexType name="CodePoint">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/NPEG" base="q4:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="Match" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CodePoint" nillable="true" type="tns:CodePoint" />
	<xs:complexType name="CharacterClass">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/NPEG" base="q5:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="ClassExpression" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CharacterClass" nillable="true" type="tns:CharacterClass" />
	<xs:complexType name="Fatal">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/NPEG" base="q6:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Fatal" nillable="true" type="tns:Fatal" />
	<xs:complexType name="Literal">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/NPEG" base="q7:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="IsCaseSensitive" type="xs:boolean" />
					<xs:element minOccurs="0" name="MatchText" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Literal" nillable="true" type="tns:Literal" />
	<xs:complexType name="ArrayOfWarn">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Warn" nillable="true" type="tns:Warn" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfWarn" nillable="true" type="tns:ArrayOfWarn" />
	<xs:complexType name="Warn">
		<xs:complexContent mixed="false">
			<xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/NPEG" base="q8:ALeaf">
				<xs:sequence>
					<xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Position" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Warn" nillable="true" type="tns:Warn" />
</xs:schema>